.toc__item {
  display: block;
  margin-bottom: var(--space-l);
  text-decoration: none;
  font-size: var(--size-text-s);
  line-height: var(--line-height-text-s);
  transition: opacity 0.2s ease;
}
  .toc__item:hover {
    opacity: 0.75;
  }

.toc__item_status_success, .toc__item_status_success:hover {
  color: var(--color-typo-success)
}
.toc__item_status_warning, .toc__item_status_warning:hover {
  color: var(--color-typo-warning)
}
.toc__item_status_progress, .toc__item_status_progress:hover {
  color: var(--color-typo-secondary)
}
.toc__section-name {
  padding-top: var(--space-3xs);
  text-decoration: none;
  font-size: var(--size-text-s);
  line-height: var(--line-height-text-s);
  color: var(--color-typo-secondary);
}

.toc__name_mine::after {
  content: 'Мой раздел';
  display: inline-block;
  width: auto;
  padding: 0 var(--space-xs);
  margin-top: var(--space-2xs);
  border-radius: 4px;
  font-size: var(--size-text-2xs);
  text-transform: uppercase;
  background-color: var(--color-bg-ghost);
}

.accordion {
  position: relative;
  padding-left: var(--space-xl);
}
  .accordion__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-s);
    background-color: var(--color-bg-secondary);
  }
  .accordion__list {}
  .accordion_closed .accordion__list {
    display: none;
  }
  .accordion .accordion__button .button__icon {
    transition: transform 0.3s ease;
  }
  .accordion_closed .accordion__button .button__icon {
    transform: rotate(180deg);
  }
