.content:only-of-type {
  min-height: calc(100vh - 60px);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}
.content:first-of-type {
  padding-top: var(--space-3xl);
}
.content:last-of-type {
  padding-bottom: var(--space-3xl);
}
.content {
  position: relative;
  margin: auto;
}
  .content_size_s {
    max-width: 700px;
  }
  .content_size_m {
    max-width: 920px;
  }
  .content_size_l {
    max-width: 1100px;
  }
  .content_size_full {
    max-width: 100%;
    overflow-x: auto;
  }


  
  .content_view_split {
    display: grid;
    grid-template-columns: 364px calc(100% - 364px);
  }
  .content__main {
    max-width: 100%;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .content__main_size_full {
    width: calc(100% - var(--space-2xl) * 2);
    overflow-x: auto;
  }
  .content__article ul, ol {
    margin-bottom: var(--space-2xl);
  }
    .content__article li {
      position: relative;
      padding-left: var(--space-xl);
    }
      .content__article li:after {
        content: '—';
        position: absolute;
        top: 0.1em;
        left: 0;
      }
  .content__article img {
    max-width: 100%;
  }
  .content__sidebar {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    padding: var(--space-2xl);
    overflow-y: auto;
    background-color: var(--color-bg-secondary);
  }
  .content__article {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
