.content.content_padding:only-of-type {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}
.content.content_padding:first-of-type {
  padding-top: var(--space-3xl);
}
.content.content_padding:last-of-type {
  padding-bottom: var(--space-3xl);
}
.content {
  position: relative;
  /*min-height: calc(100vh - 60px);*/
  margin: auto;
}
  .content_size_s {
    max-width: 700px;
  }
  .content_size_m {
    max-width: 920px;
  }
  .content_size_l {
    max-width: 1100px;
  }
  .content_size_full {
    width: calc(100% - var(--space-2xl) * 2);
    overflow-x: auto;
  }
  .content_height_full {
    min-height: calc(100vh - 200px);
  }

.content__left-blind-control {
  position: fixed !important;
  left: var(--space-s);
  top: calc(var(--space-m) + 60px);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.content.content_split_left .content__left-blind-control {
  opacity: 0;
  pointer-events: none;
}
  
  .content.content_split_left {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 364px calc(100% - 364px);
    padding: 0;
  }
  .content.content_split_right {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: auto;
    padding: 0;
  }
  .content.content_split_right .Article {
    padding-right: calc(356px + 64px);
  }
  .content.content_split_center {
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
  }
  .content__main {
    max-width: 100%;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  .content__main_size_full {
    width: calc(100% - var(--space-2xl) * 2);
    overflow-x: auto;
  }
  .content__article ul, ol {
    margin-bottom: var(--space-2xl);
  }
    .content__article li {
      position: relative;
      padding-left: var(--space-xl);
    }
      .content__article li:after {
        content: '—';
        position: absolute;
        top: 0.1em;
        left: 0;
      }
  .content__article img {
    max-width: 100%;
  }
  .content__article {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
