.block {
  position: relative;
  padding-left: var(--space-4xl);
  padding-right: var(--space-4xl);
  margin-left: calc(-1 * var(--space-4xl));
  margin-right: calc(-1 * var(--space-4xl));
}
  .block:hover .block__right-button, .block:hover .block__left-button {
    opacity: 1;
  }
  .block__right-button, .block__left-button {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
  }
  .block__right-button {
    right: 0;
  }
  .block__left-button {
    left: 0;
  }

.block_show-popup .block__popup {
  display: block;
}
  .block__popup {
    position: absolute;
    width: 260px;
    padding: var(--space-s) 0;
    left: 38px;
    top: -14px;

    background: var(--color-bg-default);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    z-index: 1;
    display: none;
  }
    .block__popup-item {
      padding: var(--space-xs) var(--space-s);
      transition: background-color 0.25s ease;
    }
      .block__popup-item:hover {
        background-color: var(--color-bg-stripe);
        cursor: pointer;
      }