html, body {
  margin: 0 !important;
  height: 100%;
  min-width: 1180px;
}

#root, .page {
  height: 100%;
  background-color: var(--color-bg-default);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--color-typo-link-hover);
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: initial;
}
input {
  color: currentColor;
}
img {
  max-width: 100%;
}

.LoginPage {
  display: grid;
  grid-template-columns: minmax(320px, 35%) auto;
  align-items: stretch;
  min-height: 100%;
  background-color: var(--color-bg-secondary);
}
  .LoginPage__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LoginPage__right {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: var(--space-xl);
    background-color: var(--color-bg-ghost);
  }
  .LoginPage__logo {
    width: 213px;
    height: 48px;
    background: url('../src/images/gpn-logo.svg');
  }
.LoginForm {
  width: 300px;
}

.TextField_width_date input {
  width: 78px;
}
.TextField_size_xl {
  font-size: var(--size-text-xl);
  line-height: var(--line-height-text-xs);
  font-weight: 500;
  --input-height: 40px;
}
.TextField_view_clear textarea {
  padding: 0 !important;
}
.TextField_th textarea,
.TextField_th input {
  line-height: var(--line-height-text-xs);
  color: var(--color-typo-secondary);
  font-size: var(--size-text-xs);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}


.table {
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
}
.table th {
  padding: var(--space-xs) var(--space-s);
}
.table td {
  box-sizing: border-box;
  padding: var(--space-xs) var(--space-s);
}
.table td:not(:last-child), .table th:not(:last-child) {
  border-right: 1px solid var(--color-bg-border);
}
.table td, .table th {
  border-top: 1px solid var(--color-bg-border);
}
.table tr:last-child td {
  border-bottom: 1px solid var(--color-bg-border);
}
.table th {
  border-top: 1px solid var(--color-bg-border);
}
.table_commentable {
  min-width: calc(700px + 32px);
  margin-right: -32px;
}
  .table_commentable thead th:last-child, .table_commentable tbody td:last-child {
    width: 32px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    transition: opacity 0.25s ease;
  }
  .table_commentable thead th:nth-last-child(2), .table_commentable tbody td:nth-last-child(2) {
    border-right: 0;
  }
  .table_commentable tr:hover > td:last-child {
    opacity: 1;
  }
.table_editable {
  min-width: calc(700px + 64px + 32px);
  margin-left: -64px;
  margin-right: -32px;
}
  .table_editable thead th:first-child, 
  .table_editable tbody td:first-child,
  .table_editable tfoot td:first-child {
    width: 64px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    text-align: right;
    opacity: 0;
    transition: opacity 0.25s ease;
  }
  .table_editable thead th:last-child,
  .table_editable tbody td:last-child,
  .table_editable tfoot td:last-child {
    width: 32px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
  .table_editable thead th:nth-last-child(2),
  .table_editable tbody td:nth-last-child(2),
  .table_editable tfoot td:nth-last-child(2) {
    border-right: 0;
  }
  .table_editable tfoot td {
    border-bottom: 1px solid var(--color-bg-border);
  }
  .table .Block__rightButtons {
    position: relative;
  }
    .Block .table_editable tr td:first-child {
      opacity: 0;
    }
    .Block .table tr td:last-child {
      opacity: 1;
    }
    .table tr:hover td:first-child, .table tr:hover td:last-child {
      opacity: 1;
    }
    .Block:hover .table tr:not(:hover) .CommentWrap:not(.CommentWrap_visible) {
      opacity: 0;
    }


.FpbForm {

}
.FpbForm__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--space-l);
}
.FpbForm__item {

}
.FpbForm__item:not(:last-child) {
  margin-right: var(--space-l);
}
.FpbForm__item_width_quarter {
  flex-basis: 25%;
}
.FpbForm__item_width_third {
  flex-basis: 33%;
}
.FpbForm__item_width_half {
  flex-basis: 50%;
}
.FpbForm__item_width_three-quarter {
  flex-basis: 75%;
}
.FpbForm__item_width_full {
  flex-basis: 100%;
}
.FpbForm__control {
  flex-basis: 100%;
}
.FpbForm__label {
  margin-bottom: var(--space-2xs);
}
.FpbForm__row_with-buttons {
  position: relative;
}
.FpbForm__buttons {
  position: absolute;
  left: calc(100% + var(--space-s));
  display: flex;
}
.FpbForm__buttons > *:not(:last-child) {
  margin-right: var(--space-2xs) !important;
}
