html, body {
  margin: 0 !important;
  height: 100%;
  min-width: 1180px;
}

#root, .page {
  height: 100%;
  background-color: var(--color-bg-default);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--color-typo-link-hover);
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: initial;
}
input {
  color: currentColor;
}

.LoginPage {
  display: grid;
  grid-template-columns: minmax(320px, 35%) auto;
  align-items: stretch;
  min-height: 100%;
  background-color: var(--color-bg-secondary);
}
  .LoginPage__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LoginPage__right {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: var(--space-xl);
    background-color: var(--color-bg-ghost);
  }
  .LoginPage__logo {
    width: 213px;
    height: 48px;
    background: url('../src/images/gpn-logo.svg');
  }
.LoginForm {
  width: 300px;
}

.TextField_width_date input {
  width: 78px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}


.table {
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
}
.table th {
  padding: var(--space-xs) var(--space-s);
}
.table td {
  box-sizing: border-box;
  padding: var(--space-xs) var(--space-s);
}
.table td:not(:last-child), .table th:not(:last-child) {
  border-right: 1px solid var(--color-bg-border);
}
.table tr {
  border-bottom: 1px solid var(--color-bg-border);
}
.table tr:first-child {
  border-top: 1px solid var(--color-bg-border);
}


.FpbForm {

}
.FpbForm__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--space-l);
}
.FpbForm__item {

}
.FpbForm__item:not(:last-child) {
  margin-right: var(--space-l);
}
.FpbForm__item_width_quarter {
  flex-basis: 25%;
}
.FpbForm__item_width_third {
  flex-basis: 33%;
}
.FpbForm__item_width_half {
  flex-basis: 50%;
}
.FpbForm__item_width_three-quarter {
  flex-basis: 75%;
}
.FpbForm__item_width_full {
  flex-basis: 100%;
}
.FpbForm__control {
  flex-basis: 100%;
}
.FpbForm__label {
  margin-bottom: var(--space-2xs);
}
.FpbForm__row_with-buttons {
  position: relative;
}
.FpbForm__buttons {
  position: absolute;
  left: calc(100% + var(--space-s));
  display: flex;
}
.FpbForm__buttons > *:not(:last-child) {
  margin-right: var(--space-2xs) !important;
}

.Article {
  padding: var(--space-5xl) 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.Article__section {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.Article__section_size_full {
  width: calc(100% - var(--space-2xl) * 2);
  overflow-x: auto;
  box-sizing: border-box;
}